:is(section, article):not(.message) :is(h1, dt)::after {
  content: ":";
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  dd {
    margin-left: 1em;
  }
}
