:root {
  --stylish-font-family: "Fira Code", "monospace", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:is(header, footer) {
  font-family: var(--stylish-font-family);
}

:is(section, article):not(.message) :is(h1, dt) {
  font-family: var(--stylish-font-family);

  &::after {
    content: ":";
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

dd :is(ul, ol) {
  margin: 0;
}

.note {
  padding: .5em;
  color: orange;
  border-radius: .2em;
}

@media screen and (min-width: 1024px) {
  dd {
    margin-left: 1em;
  }
}
