VITE_GA_ID=G-XXXXXXXXXX
VITE_CONTACT_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_CONTACT_WEBHOOK_SALES_URL=https://discord.com/api/webhooks/yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
SITE_URL=https://www.renjaku.co.jp
PORT=5173
