@import url("https://osync.io/fonts/FiraCode/fira_code.css");

* {
  box-sizing: border-box;
}
body {
  margin: 1rem;
  padding: 0;
  font-family: "Fira Code", monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
header h1 {
  font-size: 1.25rem;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin: 0 .75rem 0 0;
}
article {
  margin: .75rem;
}
a {
  color: #499bea;
}
a:hover {
  color: #304999;
}
li {
  margin: .25rem 0;
}
footer {
  margin: 1rem;
}
footer ul {
  margin: 0;
  padding: 0 0 0;
  list-style: none;
  text-align: center;
}
footer li {
  display: inline;
  margin-right: .75rem;
}
footer small {
  display: block;
  margin: 1rem;
  text-align: center;
  color: #666;
}
dt {
  margin-block-end: .5em;
}
dt:not(:first-child) {
  margin-block-start: 1em;
}
dd {
  margin-inline-start: 1em;
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
@media screen and (min-width: 1024px) {
  body {
    margin-left: 4em;
    margin-right: 4em;
  }
}
:is(section, article):not(.message) > h1::after {
  content: ":";
}
