@import url("https://osync.io/fonts/FiraCode/fira_code.css");

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansJP-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NotoSansJP-Bold.woff") format("woff");
}

html {
  font-family: "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 1em;
  padding: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
header h1 {
  font-size: 1.25em;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin: 0 .75em 0 0;
}
article {
  margin-left: 0;
  margin-right: 0;
}
a {
  color: #499bea;
}
a:hover {
  color: #304999;
}
li {
  margin: .25em 0;
}
footer {
  margin: 1em;
}
footer ul {
  margin: 0;
  padding: 0 0 0;
  list-style: none;
  text-align: center;
}
footer li {
  display: inline;
  margin-right: .75em;
}
footer small {
  display: block;
  margin: 1em;
  text-align: center;
  color: #666;
}
dt {
  margin-block-end: .5em;
}
dt:not(:first-child) {
  margin-block-start: 1em;
}
dd {
  margin-inline-start: 1em;
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
@media screen and (min-width: 1024px) {
  body {
    margin-left: 4em;
    margin-right: 4em;
  }
  article {
    margin: .75em;
  }
}
